onlyBuiltDependencies[]=@parcel/watcher
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=lmdb
onlyBuiltDependencies[]=msgpackr-ext
onlyBuiltDependencies[]=msgpackr-extract
onlyBuiltDependencies[]=sharp
